* {
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
}

header, Nav, Section, Aside, Footer {
    background-color: #ebebeb;
}

header, nav, footer {
    padding: 20px;
    margin: 5px 0;
}


section {
    float: left;
    margin: 20px 0 20px 0;
    height: 205px;
    width: 495px;
    padding: 20px 20px 20px;
}

Article {
    color: #ebebeb;
    background-color: #777;
    height: 145px;
    padding: 20px 10px 5px;
    margin: 20px 0 auto;
}

div {
    color: #777;
    background-color: #ebebeb;
    margin: 10px 15px;
    padding: 10px;
    /* width: 440px; */
}

#para {
    font-weight: bold;
    margin-top: 20px;
}

aside {
    float: left;
    width: 365px;
    height: 195px;
    margin: 20px 0 20px 20px;
    /* width: 495px; */
    padding: 30px 20px 20px;
}

footer {
    clear: both;
}
